<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title th:text="Charts"></title>
</head>
<body>
	<div
		th:each="sensorNameGasSensingUpdatesRangesEntry : ${sensorNameGasSensingUpdatesRangesMap}">
		<h3 th:text="${sensorNameGasSensingUpdatesRangesEntry.key}"></h3>
		<div style="display: flex; flex-direction: row; margin-bottom: 20px"
			th:each="sensorNameGasSensingUpdatesRange : ${sensorNameGasSensingUpdatesRangesEntry.value}">
			<div style="display: flex; flex-direction: column">
				<span><span
					th:text="${sensorNameGasSensingUpdatesRange.description}"></span> <span
					th:text="${sensorNameGasSensingUpdatesRange.unit}"></span></span> <span
					th:text="'Min: '+${sensorNameGasSensingUpdatesRange.minLocalDateTime}"></span>
				<span
					th:text="'Max: '+${sensorNameGasSensingUpdatesRange.maxLocalDateTime}"></span>
			</div>
			<div style="display: flex; flex-direction: column">
				<span> <span><a
						th:href="@{/chart/{sensorName}/{description}/1-MINUTES(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">Minute</a></span>
					<span><a
						th:href="@{/chart/{sensorName}/{description}/5-MINUTES(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">5
							minutes</a></span> <span><a
						th:href="@{/chart/{sensorName}/{description}/15-MINUTES(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">15
							minutes</a></span> <span><a
						th:href="@{/chart/{sensorName}/{description}/30-MINUTES(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">30
							minutes</a></span> <span><a
						th:href="@{/chart/{sensorName}/{description}/1-HOURS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">Hour</a></span>
					<span><a
						th:href="@{/chart/{sensorName}/{description}/2-HOURS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">2
							hours</a></span> <span><a
						th:href="@{/chart/{sensorName}/{description}/3-HOURS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">3
							hours</a></span> <span><a
						th:href="@{/chart/{sensorName}/{description}/6-HOURS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">6
							hours</a></span> <span><a
						th:href="@{/chart/{sensorName}/{description}/12-HOURS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">12
							hours</a></span> <span><a
						th:href="@{/chart/{sensorName}/{description}/1-DAYS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">Day</a></span>
					<span><a
						th:href="@{/chart/{sensorName}/{description}/2-DAYS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">2
							days</a></span> <span><a
						th:href="@{/chart/{sensorName}/{description}/3-DAYS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">3
							days</a></span> <span><a
						th:href="@{/chart/{sensorName}/{description}/7-DAYS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">7
							days</a></span> <span><a
						th:href="@{/chart/{sensorName}/{description}/14-DAYS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">14
							days</a></span></span> <span> <span><a
						th:href="@{/simplechart/{sensorName}/{description}/1-MINUTES(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">Minute</a></span>
					<span><a
						th:href="@{/simplechart/{sensorName}/{description}/5-MINUTES(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">5
							minutes</a></span> <span><a
						th:href="@{/simplechart/{sensorName}/{description}/15-MINUTES(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">15
							minutes</a></span> <span><a
						th:href="@{/simplechart/{sensorName}/{description}/30-MINUTES(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">30
							minutes</a></span> <span><a
						th:href="@{/simplechart/{sensorName}/{description}/1-HOURS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">Hour</a></span>
					<span><a
						th:href="@{/simplechart/{sensorName}/{description}/2-HOURS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">2
							hours</a></span> <span><a
						th:href="@{/simplechart/{sensorName}/{description}/3-HOURS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">3
							hours</a></span> <span><a
						th:href="@{/simplechart/{sensorName}/{description}/6-HOURS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">6
							hours</a></span> <span><a
						th:href="@{/simplechart/{sensorName}/{description}/12-HOURS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">12
							hours</a></span> <span><a
						th:href="@{/simplechart/{sensorName}/{description}/1-DAYS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">Day</a></span>
					<span><a
						th:href="@{/simplechart/{sensorName}/{description}/2-DAYS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">2
							days</a></span> <span><a
						th:href="@{/simplechart/{sensorName}/{description}/3-DAYS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">3
							days</a></span> <span><a
						th:href="@{/simplechart/{sensorName}/{description}/7-DAYS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">7
							days</a></span> <span><a
						th:href="@{/simplechart/{sensorName}/{description}/14-DAYS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">14
							days</a></span></span> <span> <span><a
						th:href="@{/chart/{sensorName}/{description}/2-DAYS/1-DAYS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">2
							days ago to 1 day ago</a></span></span> <span> <span><a
						th:href="@{/simplechart/{sensorName}/{description}/2-DAYS/1-DAYS(sensorName=${sensorNameGasSensingUpdatesRange.sensorName},description=${sensorNameGasSensingUpdatesRange.description},unit=${sensorNameGasSensingUpdatesRange.unit})}">2
							days ago to 1 day ago</a></span></span>
			</div>
		</div>
	</div>
</body>
</html>