<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title th:text="${sensorName+' '+description+' '+unit+' '+period}"></title>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
<script th:src="@{/webjars/chartjs/Chart.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:src="@{/webjars/simplify-js/simplify.js}"></script>
<script th:inline="javascript">
var stompEndpointUrl = [[@{/stompEndpoint}]];
var sensorName = [[${sensorName}]];
var description = [[${description}]];
var unit = [[${unit}]];
var beginning = [[${beginning}]];
var end = [[${end}]];
var simple = [[${simple}]];
	</script>
<script th:src="@{/js/chart.js}"></script>
<link th:href="@{/css/chart.css}" rel="stylesheet" />
</head>
<body>
	<canvas id="chart"></canvas>
</body>
</html>